*{
    margin: 0;
    padding: 0;
    }
    body{
    position: relative;
    background: #e0d9bc;
    height: 100%;
    width: 100%;
    }
    .topnav{
        height: 50px;
        width: 100%;
        background-color:#6a8e84;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 0;
        z-index: 9999999999999999999999999999999;
        }
    .topnav a:link{
        color: #e0d9bc;
        }
        .topnav a:visited{
        color: #e0d9bc;
        }
        .topnav div{
        color: white;
        width: 80%;
        /* height: 50px; */
        }
        .topnav div span{
        border-right:2px solid #945045;
        }
        .topnav button{
        border: none;
        font-size: 20px;
        background-color: #8aa0b7; 
        height: 50px;   
        color: wheat;
        cursor: pointer;
        }
    .userSideBar{
        display: none;
        width: 300px;
        background-color: #1E2F23;
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
    }
    #hBack{
        display: flex;
        justify-content: center;
        align-items: start;
        height: 200px;
        width:100%;
        background: linear-gradient(to right, #1E2F23, #945045,#945045);
    }
    #hBack h2{
        margin-top: 50px;
        font-family: cursive;
        font-size: 30px;
        color: #6a8e84;
    }
    /* start work*/
   
    #user{
        height: 40em;
    }
    /* end work*/
    .footer{
        width: 100%;
        background: #1E2F23;
        color: white;
    }
    .footer a:link{
        color: #e0d9bc;
    }
    .footer a:visited{
        color: #e0d9bc;
    }
    .footnote{
        text-align: center;
        font-family: tahoma;
    }
    #footContact{
        padding: 20px 30px;
    }

    #buttCont {
        height: 120px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        min-height: 120px;
    }
    #footContact ul li{
        /* display: inline-block; */
        list-style-type: none;
        font-size: 15px;
        font-family: tahoma;
    }
    .printedForm{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    #passportC{
        width: 100%;
        display: flex;
        justify-content: end;
        height: 200px;
        margin: 0 0 20px 0;
    }
    #passport{
        height: inherit;
        width: 150px;
        border: 1px solid black;
    }
    #readInstrc{
        display: inline;
        width: 20px !important;
    }
    #checkboxCont{
        display: flex;
    }

    @keyframes fadeIn {
        0%{opacity: 0%;}
        100%{opacity: 100%;}
    }@media screen and (max-width: 1000px){
        .acadInst {
            width: 80%;
            height: auto;
            transition: 400ms;
            padding: none;
        }
        .thePrincipal {
            height: 100%;
            padding: 40px 0;
        }
        .prinCont {
            width: 90%;
            display: flex;
            justify-content: space-evenly;
            gap: 20px;
            flex-direction: column-reverse;
            align-items: center;
        }
        #academicsCont {
            width: 100%;
        }
        .container {
            height: 400px;
        }
        .text {
        /* height: inherit; */
        text-align: justify;
        font-size: 13px;
    }
    /* in case if it colides with text edit it here */
        #footContact {
        /* padding: 10px 15px; */
        display: none;
        }
        #footContact h1 {
            font-size: 20px;
        }
        #buttCont {
            height: 210px;
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-evenly;
            min-height: 200px;
        }
    }
    @media screen and (max-width:800px) {
        #hBack {
            align-items: center;
            height: 100px;
        }
        
        #hBack h2 {
         margin-top: 0;
        }
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding: 2em 20px;
            height: 700px;
        }
        #nameCont {
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;
        }
        #schoolSectionContainerFF {
            flex-direction: column;
        }
        
    }
 