*{
    margin: 0;
    padding: 0;
    }
    body{
    position: relative;
    background: #e0d9bc;
    height: 100%;
    width: 100%;
    }
    .topnav{
        height: 50px;
        width: 100%;
        background-color:#6a8e84;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 0;
        z-index: 99999;
        }
    .topnav a:link{
        color: #e0d9bc;
        }
        .topnav a:visited{
        color: #e0d9bc;
        }
        .topnav div{
        color: white;
        width: 80%;
        /* height: 50px; */
        }
        .topnav div span{
        border-right:2px solid #945045;
        }
        .topnav button{
        border: none;
        font-size: 20px;
        background-color: #8aa0b7; 
        height: 50px;   
        color: wheat;
        cursor: pointer;
        }
    .userSideBar{
        /* display: none; */
        position: static;
        width: 200px;
        background-color: #1E2F23;
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        overflow: hidden;
    }
    #sideBarimgc img{
        margin-top: 60px;
        width: 200px;
    }
    .li{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: black;
        margin: 5px 0;
    }
    .li input[type=button]{
        background-color: #945045;
        width: 90%;
        transition: 400ms;
        font-size: 17px;
        padding: 10px 0;
        cursor: pointer;
    }
    .li input[type=button]:hover{
        background-color: #1E2F23;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        transform: scale(1.02);
    }
    #hBack{
        display: flex;
        justify-content: center;
        align-items: start;
        height: 200px;
        width:100%;
        background: linear-gradient(to right, #1E2F23, #945045,#945045);
    }
    #hBack h2{
        margin-top: 50px;
        font-family: cursive;
        font-size: 30px;
        color: #6a8e84;
    }
    /* start work*/
   
    #user{
        height: 40em;
    }
    #welcome{
        text-align: center;
        margin: 1em;
    }
    .mainContainer{
        margin-left: 200px;
         width: auto;
    }
    .resultLine{
        width: 95%;
        display: flex;
        align-items: center;
        font-size: 30px;
        height: 40px;
        background-color: #1E2F23;
        padding: 10px;
        margin: 10px;
        color: #e0d9bc;
    }

    #imageContainer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #userphoto{
        height: 255px;
        width: 255px;
        object-fit: cover;
        border-radius: 50%;
        border: 5px solid #1E2F23;
    }
    #bioCont{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #bioCont p{
        font-family: tahoma;
        font-size: 30px;
        text-transform: uppercase;
        margin: 1em;
    }
    #bio{
        border-collapse: collapse;
        width: 80%;
        padding: 1em;
    }
    #bio th{
        font-family: tahoma;

    }
    #bio , #bio th, #bio td {
        border: 1px solid black;
        padding: 5px;
    }
    /* end work*/
    .footer{
        z-index: 9999;
        position: relative;
        width: 100%;
        background: #1E2F23;
        color: white;
    }
    .footer a:link{
        color: #e0d9bc;
    }
    .footer a:visited{
        color: #e0d9bc;
    }
    .footnote{
        text-align: center;
        font-family: tahoma;
    }
    #footContact{
        padding: 20px 30px;
    }

    #buttCont {
        height: 120px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        min-height: 120px;
    }
    #footContact ul li{
        /* display: inline-block; */
        list-style-type: none;
        font-size: 15px;
        font-family: tahoma;
    }
    .printedForm{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    #passportC{
        width: 100%;
        display: flex;
        justify-content: end;
        height: 200px;
        margin: 0 0 20px 0;
    }
    #passport{
        height: inherit;
        width: 150px;
        border: 1px solid black;
    }
    #readInstrc{
        display: inline;
        width: 20px !important;
    }
    #checkboxCont{
        display: flex;
    }

    @keyframes fadeIn {
        0%{opacity: 0%;}
        100%{opacity: 100%;}
    }@media screen and (max-width: 1000px){
        .acadInst {
            width: 80%;
            height: auto;
            transition: 400ms;
            padding: none;
        }
        .thePrincipal {
            height: 100%;
            padding: 40px 0;
        }
        .prinCont {
            width: 90%;
            display: flex;
            justify-content: space-evenly;
            gap: 20px;
            flex-direction: column-reverse;
            align-items: center;
        }
        #academicsCont {
            width: 100%;
        }
        .container {
            height: 400px;
        }
        .text {
        /* height: inherit; */
        text-align: justify;
        font-size: 13px;
    }
    /* in case if it colides with text edit it here */
        #footContact {
        /* padding: 10px 15px; */
        display: none;
        }
        #footContact h1 {
            font-size: 20px;
        }
        #buttCont {
            height: 210px;
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-evenly;
            min-height: 200px;
        }
    }
    @media screen and (max-width:800px) {
        #hBack {
            align-items: center;
            height: 100px;
        }
        
        #hBack h2 {
         margin-top: 0;
        }
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding: 2em 20px;
            height: 700px;
        }
        #nameCont {
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;
        }
        #schoolSectionContainerFF {
            flex-direction: column;
        }
        
    }
 /* for table results  */
 .displayModal{
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9999999;
        background-color: #000000b0;
        animation: fadeIn 0.5s;
        height: 100vh;
        width: 100%;
        backdrop-filter: blur(10px);
 }
 .resultsTable{
    width: 90%;
    border: 1px solid black;
    border-collapse: collapse;
 }
  .resultsTable th,.resultsTable td{
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;    width: auto;
  }
  .Heading {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 20px;
    /* position: sticky; */
    top: 0;
}
.Headingh2 {
    text-transform: uppercase;
    color: #6a8e84;
    font-family: monospace;
    font-size: 20px;
}
.result{
    height: 100%;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    font-family: tahoma;
}
.headerImg{
    width: 60px;
    height: 60px;
}
.studentinfo {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.studentinfo h1{
    text-align: center;

}
.printButton{

}
@media print {
   .printButton{
    visibility: hidden;
   }
    }