*{
    margin: 0;
    padding: 0;
    }
body{
position: relative;
background: #e0d9bc;
height: 100%;
width: 100%;
}
.topnav{
    height: 50px;
    width: 100%;
    background-color:#D36582;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
}

.topnav a:link{
color: #e0d9bc;
}
.topnav a:visited{
color: #e0d9bc;
}
.topnav div{
color: white;
width: 80%;
/* height: 50px; */
}
.topnav div span{
border-right:2px solid #945045;
}
.topnav button{
border: none;
font-size: 20px;
background-color: #8aa0b7; 
height: 50px;   
color: wheat;
cursor: pointer;
}
.topnav2{
display: flex;
justify-content: center;
align-items: center;
background-color: gold;
}
.topnav2 div{
width: 90%;
display: flex;
}
.topnav2 div img{
width: 500px;
height: 70px;
}
.topnav2 div ul{
width:50% ;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}
.topnav2 div ul li{
display: inline-block;
list-style-type: none;
width: 100px;
height: 40px;
font-size: 20px;
font-family: tahoma;
}
.topnav2Dis{
display: none;
justify-content: center;
align-items: center;
background-color: gold;
position: sticky;
top: 0;
z-index: 9999;
width: 100%;
animation: fadeIn 1s;
}
.topnav2 a, .topnav2Dis a{
color: #1E2F23;
font-family: cursive;
transition: 500ms;
}
.topnav2 a:link:hover, .topnav2Dis a:link:hover{
text-decoration: underline;
color: #945045;
}
.topnav2 a:visited:hover, .topnav2Dis a:visited:hover{
text-decoration: underline;
color: #945045;
}
.topnav2 a:link, .topnav2Dis a:link{
text-decoration: none;
color: #43a360;
}
.topnav2 a:visited, .topnav2Dis a:visited{
text-decoration: none;
color: #43a360;
}
.topnav2Dis div{
width: 90%;
display: flex;
}
.topnav2Dis div img{
width: 500px;
height: 70px;
}
.topnav2Dis div ul{
width:50% ;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}
.topnav2Dis div ul li{
display: inline-block;
list-style-type: none;
width: 100px;
height: 40px;
font-size: 20px;
font-family: tahoma;
}
#hBack{
    display: flex;
    justify-content: center;
    align-items: start;
    height: 200px;
    width:100%;
    background: linear-gradient(to right, #D36582, #253C78 ,#253C78);
}
#hBack h2{
    margin-top: 50px;
    font-family: cursive;
    font-size: 30px;
    color: #6a8e84;
}
    /* start work*/
#Heading{
    padding: 3em 0 0 0;
    font-family: sans-serif;}
.contactUs{
    height: 100vh;
}
.contactUsCont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
#cards{
    display: flex;
    gap: 20px;
    padding: 10em 0 0 0;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
}
.card {
    background-color: #43a360;
    color: #000;
    font-family: tahoma;
    width: 250px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .connectionTab{
    background-color: white;
    width: 250px;
    height: 220px;
    margin: 2em;
    color: black;
    font-family: tahoma;
} */
.card img {
    width: 150px;
    height: 150px;
    margin-top: -80px;
}
.card button{
    margin: 2em;
    width: 150px;
    background-color: rgb(163, 165, 42);
    outline: none;
    border:1px solid black;
    padding: 1em;
    cursor: pointer;
    transition: 400ms;
}
.card button:hover {
    transform: scale(1.06);
    color: gold;
    box-shadow:0px 0px 10px 4px grey
}

    /* end work*/
    .footer {
        width: 100%;
        border-top: 1px solid white;
        background: #0b1c47;
        color: white;
    }
.footer a:link{
    color: #e0d9bc;
}
.footer a:visited{
    color: #e0d9bc;
}
.footnote{
    text-align: center;
    font-family: tahoma;
}
#footContact{
    padding: 20px 30px;
}
#footContact h1{

}
#footContact ul li{
    /* display: inline-block; */
    list-style-type: none;
    font-size: 15px;
    font-family: tahoma;
}
@keyframes fadeIn {
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}
/* responsive desgin */
@media screen and (max-width: 1000px){
    *{
        font-family: tahoma !important;
    }
    .topnav {
        height: 30px;
        font-size: 15px;
    }
    
    .topnav button {
        border: none;
        font-size: 15px;
        background-color: #8aa0b7;
        height: 30px;
    }
    .topnav2 div img {
        height: 40px;
        width: 300px;
    }
    .topnav2 div ul li {
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .topnav2 div {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center
    }
    .topnav2Dis div img {
        height: 40px;
        width: 300px;
    }
    .topnav2Dis div ul li {
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .topnav2Dis div {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center
    }
    .acadInst {
        width: 80%;
        height: auto;
        transition: 400ms;
        padding: none;
    }
    .thePrincipal {
        height: 100%;
        padding: 40px 0;
    }
    .prinCont {
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
        flex-direction: column-reverse;
        align-items: center;
    }
    #footContact {
    /* padding: 10px 15px; */
    display: none;
    }
    #footContact h1 {
        font-size: 20px;
    }
    .footer {
        width: 100%;
        position: fixed;
        display: block;
        bottom: 0;
        background: #1E2F23;
        color: white;
    }
}
@media screen and (max-width:800px) {
    .topnav div {
        color: white;
        font-size: 11px;
    }
    .topnav2 div {
        width: 100%;
    }
    #topnav2imgc{
        width: 90%;
    }
    .topnav2 div img {
        height: 40px;
        width: 150px;
    }
    .topnav {
        height: 30px;
        font-size: 12px;
    }
    .topnav2 div ul {
        width: 58%;
        gap: 0;
    }
    .topnav2 div ul li {
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .topnav2Dis div {
        width: 99%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .topnav2Dis div img {
        height: 40px;
        width: 150px;
    }
    .topnav {
        height: 30px;
        font-size: 10px;
    }
    .topnav2Dis div ul {
        width: 58%;
        gap: 0;
    }
    .topnav2Dis div ul li {
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #hBack {
        align-items: center;
        height: 100px;
    }
    
    #hBack h2 {
     margin-top: 0;
    }
    .contactUs {
        height: 100%;
    }
    #cards {
        display: flex;
        justify-content: center;
        gap: 70px;
        width: 100%;
        flex-wrap: wrap;
        padding: 5em 0 5em 0;
    }
    .card {
        width: 140px;
        height: 150px;
    }
    .card img {
        width: 75px;
        height: 75px;
        margin-top: -35px;
    }
    .card button {
        margin: 2em 0;
        width: 100px;
        background-color: rgb(163, 165, 42);
        outline: none;
        border: 1px solid black;
        padding: 1em;
        cursor: pointer;
        transition: 400ms;
    }
    }