*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
}
.topnav{
    height: 50px;
    width: 100%;
    background-color:#6a8e84;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topnav div{
    color: white;
    width: 80%;
    /* height: 50px; */
}
.topnav div span{
    border-right:2px solid #945045;
}
a:link{
    color: wheat;
 } a:visited{
    color: wheat;
 }
 .topnav button{
    border: none;
    font-size: 20px;
    background-color: #8aa0b7; 
    height: 50px;   
    color: wheat;
    cursor: pointer;
 }
 .topnav2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0d9bc;
 }
 .topnav2 div{
    width: 90%;
    display: flex;
 }
 .topnav2 div img{
    width: 500px;
    height: 100px;
}
.topnav2 div ul{
    width:50% ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.topnav2 div ul li{
    display: inline-block;
    list-style-type: none;
    height: 40px;
    font-size: 20px;
    font-family: tahoma;
}
/* This is the slider code */
[data-component="slideshow"] .slide {
    display: none;
    /* height: 500px; */
}
[data-component="slideshow"] .slide.active {
    display: block;
}
.slide img{
    height: 600px;
    width: 100%;
}
.focus{
    padding: 2em;
    height: 100vh;

}
#foucsCont{
    width: 100%;
}
#banner{
    display: block;
    text-align: center;
    font-family: tahoma;
    font-size: 40px;
    font-weight: 700;
}
#focusCont p {
    display: block;
    text-align: center;
    font-family: tahoma;
    font-size: 34px;
    font-weight: 500;
}
.bannerFlex{
    display: flex;
    justify-content: center;
}