*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    background: #e0d9bc;
    height: 100%;
    width: 100%;
}
.topnav{
    height: 50px;
    width: 100%;
    background-color:#6a8e84;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
}

.topnav a:link{
    color: #e0d9bc;
}
.topnav a:visited{
    color: #e0d9bc;
}
.topnav div{
    color: white;
    width: 80%;
    /* height: 50px; */
}
.topnav div span{
    border-right:2px solid #945045;
}
 .topnav button{
    border: none;
    font-size: 20px;
    background-color: #8aa0b7; 
    height: 50px;   
    color: wheat;
    cursor: pointer;
 }
 .topnav2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0d9bc;
 }
 .topnav2 div{
    width: 90%;
    display: flex;
 }
 .topnav2 div img{
    width: 500px;
    height: 70px;
}
.topnav2 div ul{
    width:50% ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.topnav2 div ul li{
    display: inline-block;
    list-style-type: none;
    width: 100px;
    height: 40px;
    font-size: 20px;
    font-family: tahoma;
}
.topnav2Dis{
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #e0d9bc;
    position: sticky;
    top: 0;
    z-index: 9999;
    width: 100%;
    animation: fadeIn 1s;
 }
.topnav2 a, .topnav2Dis a{
    color: #1E2F23;
    font-family: cursive;
    transition: 500ms;
}
.topnav2 a:link:hover, .topnav2Dis a:link:hover{
    text-decoration: underline;
    color: #945045;
}
.topnav2 a:visited:hover, .topnav2Dis a:visited:hover{
    text-decoration: underline;
    color: #945045;
}
.topnav2 a:link, .topnav2Dis a:link{
    text-decoration: none;
    color: #43a360;
}
.topnav2 a:visited, .topnav2Dis a:visited{
    text-decoration: none;
    color: #43a360;
}

 .topnav2Dis div{
    width: 90%;
    display: flex;
 }
 .topnav2Dis div img{
    width: 500px;
    height: 70px;
}
.topnav2Dis div ul{
    width:50% ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.topnav2Dis div ul li{
    display: inline-block;
    list-style-type: none;
    width: 100px;
    height: 40px;
    font-size: 20px;
    font-family: tahoma;
}
#horizontalRule{
    border: 1px inset #fff7f7bd;
    width: 90%;
    align-self:center;
}
#hBack{
    display: flex;
    justify-content: center;
    align-items: start;
    height: 200px;
    width:100%;
    background: linear-gradient(to right, #1E2F23, #945045,#945045);
}
#hBack h2{
    margin-top: 50px;
    font-family: cursive;
    font-size: 30px;
    color: #6a8e84;
}
.about{
    display: flex;
    gap: 20px;

    padding: 2em;
}
.about img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 5px solid #945045;
    border-radius: 30px;
}
.about p {
    font-family: cursive;
    /* color: ;     */
}
#aboutUs{
    display: flex;
    flex-direction: column;
}
.footer{
    width: 100%;
    background: #1E2F23;
    color: white;
}
.footer a:link{
    color: #e0d9bc;
}
.footer a:visited{
    color: #e0d9bc;
}
.footnote{
    text-align: center;
    font-family: tahoma;
}
#footContact{
    padding: 20px 30px;
}
#footContact ul li{
    /* display: inline-block; */
    list-style-type: none;
    font-size: 15px;
    font-family: tahoma;
}
/* animations */
@keyframes fadeIn {
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}
/* responsive desgin */
@media screen and (max-width: 1000px){
    *{
        font-family: tahoma !important;
    }
    .topnav {
        height: 30px;
        font-size: 15px;
    }
    .topnav button {
        border: none;
        font-size: 15px;
        background-color: #8aa0b7;
        height: 30px;
    }
    .topnav2 div img {
        height: 40px;
        width: 300px;
    }
    .topnav2 div ul li {
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .topnav2 div {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center
    }
    .topnav2Dis div img {
        height: 40px;
        width: 300px;
    }
    .topnav2Dis div ul li {
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .topnav2Dis div {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center
    }
    .acadInst {
        width: 80%;
        height: auto;
        transition: 400ms;
        padding: none;
    }
    .thePrincipal {
        height: 100%;
        padding: 40px 0;
    }
    .prinCont {
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
        flex-direction: column-reverse;
        align-items: center;
    }
    #footContact {
    /* padding: 10px 15px; */
    display: none;
    }
    #footContact h1 {
        font-size: 20px;
    }
}
@media screen and (max-width:800px) {
    .topnav div {
        color: white;
        font-size: 11px;
    }
    .topnav2 div {
        width: 100%;
    }
    #topnav2imgc{
        width: 90%;
    }
    .topnav2 div img {
        height: 40px;
        width: 150px;
    }
    .topnav {
        height: 30px;
        font-size: 12px;
    }
    .topnav2 div ul {
        width: 58%;
        gap: 0;
    }
    .topnav2 div ul li {
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .topnav2Dis div {
        width: 99%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .topnav2Dis div img {
        height: 40px;
        width: 150px;
    }
    .topnav {
        height: 30px;
        font-size: 10px;
    }
    .topnav2Dis div ul {
        width: 58%;
        gap: 0;
    }
    .topnav2Dis div ul li {
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #hBack {
        align-items: center;
        height: 100px;
    }
    
    #hBack h2 {
     margin-top: 0;
    }
    .about {
        flex-direction: column;
        align-items: center;
        padding: 2em;
    }
    .center{
        text-align: center;
    }
    .justify{
        text-align: justify;
    }
}